
body {
    font-family: 'Space Grotesk', 'calibri', 'arial', sans-serif;
    font-weight: 500;
    display: flex;
}

/* Card */
.box-card {
    display: inline-block;
    flex: 1;
    height: 100vh;
    background-image: url(../images/bg-main-desktop.png);
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__front {
    background-image: url(../images/bg-card-front.png);
    background-repeat: no-repeat;
    width: 447px;
    height: 245px;
    margin-bottom: 37px;
    padding: 28px;
    display: flex;
    flex-direction: column;
}

.card__logo {
    width: 84px;
    margin-bottom: 67px;
}

.card__number {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 3.42222px;
}

.card__holder {
    display: flex;
    justify-content: space-between;
}

.card__back {
    background-image: url(../images/bg-card-back.png);
    background-repeat: no-repeat;
    width: 447px;
    height: 245px;
    margin-left: 250px;
    padding: 100px 41px;
}
.card__code {
    display: flex;
    width: 361px;
    height: 38px;
    padding: 10px;
    justify-content: end;
    align-items: flex-end;
}

/* Chart */

.box-chart {
    display: inline-block;
    flex: 1;
    height: 100vh;
}

/* Root */

/* Container */

.image__background {
    position: absolute;
    width: 30%;
    margin-bottom: auto;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 540px;
    margin: 12em 10% auto;
    align-self: center;  
    justify-self: center;    
    justify-content: space-between;
}

/* Card */

.box-card {
    display: inline-block;
    flex: 1;
    height: 100vh;
    background-image: url(../images/bg-main-desktop.png);
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__front {
    background-image: url(../images/bg-card-front.png);
    background-repeat: no-repeat;
    width: 447px;
    height: 245px;
    margin-bottom: 37px;
    padding: 28px;
    display: flex;
    flex-direction: column;
}

.card__logo {
    width: 84px;
    margin-bottom: 67px;
}

.card__number {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 3.42222px;
}

.card__holder {
    display: flex;
    justify-content: space-between;
}

.card__back {
    background-image: url(../images/bg-card-back.png);
    background-repeat: no-repeat;
    width: 447px;
    height: 245px;
    margin-left: 250px;
    padding: 100px 41px;
}
.card__code {
    display: flex;
    width: 361px;
    height: 38px;
    padding: 10px;
    justify-content: end;
    align-items: flex-end;
}

/* Chart */

.box-chart {
    display: inline-block;
    flex: 1;
    height: 100vh;
}
