body {
    font-family: 'Space Grotesk', 'calibri', 'arial', sans-serif;
    font-weight: 500;
}

/* Root */

/* Container */

.container {
    width: 2048px;
    margin: 0 auto;
}

.image__background {
    width: 30%;
}

/* Card */

/* Chart */

